<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	<% @todos.each do |todo| %>
		<div>
			To-Do Description: <%= todo.description %>	
		</div>
	<% end %>	
</body>
</html>